body{
  margin:0;
  font-family:Segoe UI;
  background:#0f172a;
  color:white;
  display:flex;
}

.sidebar{
  width:260px;
  min-height:100vh;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(15px);
  padding:30px;
}

.sidebar h2{
  margin-bottom:40px;
}

.sidebar ul{
  list-style:none;
  padding:0;
}

.sidebar li{
  margin-bottom:20px;
}

.sidebar a{
  color:white;
  text-decoration:none;
}

#logoutBtn{
  margin-top:40px;
  width:100%;
  padding:15px;
  border:none;
  border-radius:12px;
  background:#ef4444;
  color:white;
  cursor:pointer;
}

.content{
  flex:1;
  padding:40px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}

.card{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(15px);
  border-radius:20px;
  padding:30px;
}

.dashboard-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:25px;
  margin-top:30px;
}

.panel{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(15px);
  border-radius:20px;
  padding:30px;
}

.panel ul{
  padding-left:20px;
}

@media(max-width:900px){

  body{
    flex-direction:column;
  }

  .sidebar{
    width:100%;
    min-height:auto;
  }

  .dashboard-grid{
    grid-template-columns:1fr;
  }
}
